name: Build and Deploy Python App to Azure

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build with Oryx
        uses: microsoft/oryx@v0
        with:
          source-directory: .
          output-directory: build_output
          platform: python
          platform-version: 3.10

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "srvprtdev01"
          package: build_output
